doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Neon Admin Panel')
    meta(name='author', content='')
    title Neon | Horizontal Menu + Chat
    link(rel='stylesheet', href='assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css')
    link(rel='stylesheet', href='assets/css/font-icons/entypo/css/entypo.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic')
    link(rel='stylesheet', href='assets/css/bootstrap.css')
    link(rel='stylesheet', href='assets/css/neon-core.css')
    link(rel='stylesheet', href='assets/css/neon-theme.css')
    link(rel='stylesheet', href='assets/css/neon-forms.css')
    link(rel='stylesheet', href='assets/css/custom.css')
    script(src='assets/js/jquery-1.11.0.min.js')
    //if lt IE 9
      script(src='assets/js/ie8-responsive-file-warning.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body.page-body(data-url='http://neon.dev')
    .page-container.horizontal-menu.chat-visible
      header.navbar.navbar-fixed-top
        // set fixed position by adding class "navbar-fixed-top"
        .navbar-inner
          // logo
          .navbar-brand
            a(href='index.html')
              img(src='assets/images/logo@2x.png', width='88', alt='')
          // main menu
          ul.navbar-nav
            li
              a(href='index.html')
                i.entypo-gauge
                span Dashboard
              ul
                li
                  a(href='index.html')
                    span Dashboard 1
                li
                  a(href='dashboard-2.html')
                    span Dashboard 2
                li
                  a(href='dashboard-3.html')
                    span Dashboard 3
                    span.badge.badge-secondary.badge-roundless New
                li
                  a(href='skin-black.html')
                    span Skins
                  ul
                    li
                      a(href='skin-black.html')
                        span Black Skin
                    li
                      a(href='skin-white.html')
                        span White Skin
                    li
                      a(href='skin-purple.html')
                        span Purple Skin
                    li
                      a(href='skin-cafe.html')
                        span Cafe Skin
                    li
                      a(href='skin-red.html')
                        span Red Skin
                    li
                      a(href='skin-green.html')
                        span Green Skin
                    li
                      a(href='skin-yellow.html')
                        span Yellow Skin
                    li
                      a(href='skin-blue.html')
                        span Blue Skin
                li
                  a(href='highlights.html')
                    span What&apos;s New
                    span.badge.badge-success.badge-roundless v1.5.1
                li
                  a(href='#')
                    span Menu Levels
                  ul
                    li
                      a(href='#')
                        i.entypo-flow-line
                        span Menu Level 1.1
                    li
                      a(href='#')
                        i.entypo-flow-line
                        span Menu Level 1.2
                    li
                      a(href='#')
                        i.entypo-flow-line
                        span Menu Level 1.3
                      ul
                        li
                          a(href='#')
                            i.entypo-flow-parallel
                            span Menu Level 2.1
                        li
                          a(href='#')
                            i.entypo-flow-parallel
                            span Menu Level 2.2
                          ul
                            li
                              a(href='#')
                                i.entypo-flow-cascade
                                span Menu Level 3.1
                              ul
                                li
                                  a(href='#')
                                    i.entypo-flow-branch
                                    span Menu Level 4.1
                            li
                              a(href='#')
                                i.entypo-flow-cascade
                                span Menu Level 3.2
                        li
                          a(href='#')
                            i.entypo-flow-parallel
                            span Menu Level 2.3
            li.opened.active
              a(href='layout-api.html')
                i.entypo-layout
                span Layouts
              ul
                li
                  a(href='layout-api.html')
                    span Layout API
                    span.badge.badge-warning.badge-roundless Updated
                li
                  a(href='layout-collapsed-sidebar.html')
                    span Collapsed Sidebar
                li
                  a(href='layout-fixed-sidebar.html')
                    span Fixed Sidebar
                li
                  a(href='layout-chat-open.html')
                    span Chat Open
                li
                  a(href='layout-horizontal-menu-boxed.html')
                    span Horizontal Menu Boxed
                li
                  a(href='layout-horizontal-menu-fluid.html')
                    span Horizontal Menu Fluid
                li
                  a(href='layout-mixed-menus.html')
                    span Mixed Menus
                li
                  a(href='layout-right-sidebar.html')
                    span Right Sidebar
                    span.badge.badge-secondary.badge-roundless New
                li
                  a(href='layout-both-menus-right-sidebar.html')
                    span Both Menus (Right Sidebar)
                    span.badge.badge-secondary.badge-roundless New
                li
                  a(href='layout-page-transition-fade.html')
                    span Page Enter Transitions
                  ul
                    li
                      a(href='layout-page-transition-fade.html')
                        span Fade Scale
                    li
                      a(href='layout-page-transition-left-in.html')
                        span Left In
                    li
                      a(href='layout-page-transition-right-in.html')
                        span Right In
                    li
                      a(href='layout-page-transition-fade-only.html')
                        span Fade Only
            li
              a(href='ui-panels.html')
                i.entypo-newspaper
                span UI Elements
              ul
                li
                  a(href='ui-panels.html')
                    span Panels
                li
                  a(href='ui-tiles.html')
                    span Tiles
                li
                  a(href='forms-buttons.html')
                    span Buttons
                li
                  a(href='tables-main.html')
                    span Tables
                  ul
                    li
                      a(href='tables-main.html')
                        span Basic Tables
                    li
                      a(href='tables-datatable.html')
                        span Data Tables
                        span.badge.badge-warning.badge-roundless Updated
                li
                  a(href='ui-typography.html')
                    span Typography
                li
                  a(href='ui-tabs-accordions.html')
                    span Tabs &amp; Accordions
                li
                  a(href='ui-tooltips-popovers.html')
                    span Tooltips &amp; Popovers
                li
                  a(href='ui-navbars.html')
                    span Navbars
                li
                  a(href='ui-breadcrumbs.html')
                    span Breadcrumbs
                li
                  a(href='ui-badges-labels.html')
                    span Badges &amp; Labels
                li
                  a(href='ui-progress-bars.html')
                    span Progress Bars
                li
                  a(href='ui-modals.html')
                    span Modals
                li
                  a(href='ui-blockquotes.html')
                    span Blockquotes
                li
                  a(href='ui-alerts.html')
                    span Alerts
                li
                  a(href='ui-pagination.html')
                    span Pagination
            li
              a(href='forms-main.html')
                i.entypo-doc-text
                span Forms
              ul
                li
                  a(href='forms-main.html')
                    span Basic Elements
                li
                  a(href='forms-advanced.html')
                    span Advanced Plugins
                    span.badge.badge-warning.badge-roundless Updated
                li
                  a(href='forms-wizard.html')
                    span Form Wizard
                li
                  a(href='forms-validation.html')
                    span Data Validation
                li
                  a(href='forms-masks.html')
                    span Input Masks
                li
                  a(href='forms-sliders.html')
                    span Sliders
                li
                  a(href='forms-file-upload.html')
                    span File Upload
                li
                  a(href='forms-wysiwyg.html')
                    span Editors
                    span.badge.badge-warning.badge-roundless Updated
            li
              a(href='extra-icons.html')
                i.entypo-bag
                span Extra
                span.badge.badge-secondary 9
              ul
                li
                  a(href='extra-icons.html')
                    span Icons
                    span.badge.badge-success 3
                  ul
                    li
                      a(href='extra-icons.html')
                        span Font Awesome
                    li
                      a(href='extra-icons-entypo.html')
                        span Entypo
                    li
                      a(href='extra-icons-glyphicons.html')
                        span Glyph Icons
                li
                  a(href='extra-portlets.html')
                    span Portlets
                li
                  a(href='extra-google-maps.html')
                    span Maps
                  ul
                    li
                      a(href='extra-google-maps.html')
                        span Google Maps
                    li
                      a(href='extra-vector-maps.html')
                        span Vector Maps
                li
                  a(href='extra-chat-api.html')
                    span Chat API
                li
                  a(href='extra-calendar.html')
                    span Calendar
                li
                  a(href='extra-notes.html')
                    span Notes
                li
                  a(href='extra-lockscreen.html')
                    span Lockscreen
                li
                  a(href='extra-login.html')
                    span Login
                    span.badge.badge-warning.badge-roundless Updated
                li
                  a(href='extra-register.html')
                    span Register
                    span.badge.badge-secondary.badge-roundless New
                li
                  a(href='extra-invoice.html')
                    span Invoice
                li
                  a(href='extra-gallery.html')
                    span Gallery
                  ul
                    li
                      a(href='extra-gallery.html')
                        span Albums
                    li
                      a(href='extra-gallery-single.html')
                        span Single Album
                li
                  a(href='extra-profile.html')
                    span Profile
                li
                  a(href='extra-404.html')
                    span 404 Page
                li
                  a(href='charts.html')
                    span Charts
                li
                  a(href='extra-blank-page.html')
                    span Blank Page
                li
                  a(href='extra-timeline.html')
                    span Timeline
                li
                  a(href='extra-timeline-centered.html')
                    span Timeline Centered
                li
                  a(href='extra-tocify.html')
                    span Tocify
                li
                  a(href='ui-notifications.html')
                    span Notifications
                li
                  a(href='extra-scrollbox.html')
                    span Scrollbox
                li
                  a(href='extra-image-crop.html')
                    span Image Crop
                li
                  a(href='extra-search.html')
                    span Search Page
                    span.badge.badge-secondary.badge-roundless New
                li
                  a(href='extra-language-selector.html')
                    span Language Selector
                    span.badge.badge-secondary.badge-roundless New
            // Search Bar
            li#search.search-input-collapsed
              // add class "search-input-collapsed" to auto collapse search input
              form(method='get', action='')
                input.search-input(type='text', name='q', placeholder='Search something...')
                button(type='submit')
                  i.entypo-search
          // notifications and other links
          ul.nav.navbar-right.pull-right
            // dropdowns
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                i.entypo-list
                span.badge.badge-info 6
              // dropdown menu (tasks)
              ul.dropdown-menu
                li.top
                  p You have 6 pending tasks
                li
                  ul.dropdown-menu-list.scroller
                    li
                      a(href='#')
                        span.task
                          span.desc Procurement
                          span.percent 27%
                        span.progress
                          span.progress-bar.progress-bar-success(style='width: 27%;')
                            span.sr-only 27% Complete
                    li
                      a(href='#')
                        span.task
                          span.desc App Development
                          span.percent 83%
                        span.progress.progress-striped
                          span.progress-bar.progress-bar-danger(style='width: 83%;')
                            span.sr-only 83% Complete
                    li
                      a(href='#')
                        span.task
                          span.desc HTML Slicing
                          span.percent 91%
                        span.progress
                          span.progress-bar.progress-bar-success(style='width: 91%;')
                            span.sr-only 91% Complete
                    li
                      a(href='#')
                        span.task
                          span.desc Database Repair
                          span.percent 12%
                        span.progress.progress-striped
                          span.progress-bar.progress-bar-warning(style='width: 12%;')
                            span.sr-only 12% Complete
                    li
                      a(href='#')
                        span.task
                          span.desc Backup Create Progress
                          span.percent 54%
                        span.progress.progress-striped
                          span.progress-bar.progress-bar-info(style='width: 54%;')
                            span.sr-only 54% Complete
                    li
                      a(href='#')
                        span.task
                          span.desc Upgrade Progress
                          span.percent 17%
                        span.progress.progress-striped
                          span.progress-bar.progress-bar-important(style='width: 17%;')
                            span.sr-only 17% Complete
                li.external
                  a(href='#') See all tasks
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                i.entypo-mail
                span.badge.badge-secondary 10
              // dropdown menu (messages)
              ul.dropdown-menu
                li
                  ul.dropdown-menu-list.scroller
                    li.active
                      a(href='#')
                        span.image.pull-right
                          img.img-circle(src='assets/images/thumb-1.png', alt='')
                        span.line
                          strong Luc Chartier
                          | &#x9;&#x9;&#x9;&#x9;&#x9;- yesterday
                        span.line.desc.small
                          | This ain&rsquo;t our first item, it is the best of the rest.
                    li.active
                      a(href='#')
                        span.image.pull-right
                          img.img-circle(src='assets/images/thumb-2.png', alt='')
                        span.line
                          strong Salma Nyberg
                          | &#x9;&#x9;&#x9;&#x9;&#x9;- 2 days ago
                        span.line.desc.small
                          | Oh he decisively impression attachment friendship so if everything.
                    li
                      a(href='#')
                        span.image.pull-right
                          img.img-circle(src='assets/images/thumb-3.png', alt='')
                        span.line
                          | Hayden Cartwright
                          | - a week ago
                        span.line.desc.small
                          | Whose her enjoy chief new young. Felicity if ye required likewise so doubtful.
                    li
                      a(href='#')
                        span.image.pull-right
                          img.img-circle(src='assets/images/thumb-4.png', alt='')
                        span.line
                          | Sandra Eberhardt
                          | - 16 days ago
                        span.line.desc.small
                          | On so attention necessary at by provision otherwise existence direction.
                li.external
                  a(href='mailbox.html') All Messages
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
                i.entypo-globe
                span.badge.badge-warning 1
              // dropdown menu (messages)
              ul.dropdown-menu
                li.top
                  p.small
                    a.pull-right(href='#') Mark all Read
                    | &#x9;&#x9;You have 
                    strong 3
                    |  new notifications.
                li
                  ul.dropdown-menu-list.scroller
                    li.unread.notification-success
                      a(href='#')
                        i.entypo-user-add.pull-right
                        span.line
                          strong New user registered
                        span.line.small
                          | 30 seconds ago
                    li.unread.notification-secondary
                      a(href='#')
                        i.entypo-heart.pull-right
                        span.line
                          strong Someone special liked this
                        span.line.small
                          | 2 minutes ago
                    li.notification-primary
                      a(href='#')
                        i.entypo-user.pull-right
                        span.line
                          strong Privacy settings have been changed
                        span.line.small
                          | 3 hours ago
                    li.notification-danger
                      a(href='#')
                        i.entypo-cancel-circled.pull-right
                        span.line
                          | John cancelled the event
                        span.line.small
                          | 9 hours ago
                    li.notification-info
                      a(href='#')
                        i.entypo-info.pull-right
                        span.line
                          | The server is status is stable
                        span.line.small
                          | yesterday at 10:30am
                    li.notification-warning
                      a(href='#')
                        i.entypo-rss.pull-right
                        span.line
                          | New comments waiting approval
                        span.line.small
                          | last week
                li.external
                  a(href='#') View all notifications
            // raw links
            li.dropdown
            li
              a(href='#') Live Site
            li.sep
            li
              a(href='extra-login.html')
                | Log Out 
                i.entypo-logout.right
            // mobile only
            li.visible-xs
              // open/close menu icon (do not remove if you want to enable menu on mobile devices)
              .horizontal-mobile-menu.visible-xs
                a.with-animation(href='#')
                  // add class "with-animation" to support animation
                  i.entypo-menu
      .main-content
        .container
          .row
            .col-md-12
              script(type='text/javascript').
                jQuery(document).ready(function($)
                {
                // Sample Toastr Notification
                setTimeout(function()
                {
                var opts = {
                "closeButton": true,
                "debug": false,
                "positionClass": rtl() || public_vars.$pageContainer.hasClass('right-sidebar') ? "toast-top-left" : "toast-top-right",
                "toastClass": "black",
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
                };
                toastr.success("You have been awarded with 1 year free subscription. Enjoy it!", "Account Subcription Updated", opts);
                }, 3000);
                // Sparkline Charts
                $('.inlinebar').sparkline('html', {type: 'bar', barColor: '#ff6264'} );
                $('.inlinebar-2').sparkline('html', {type: 'bar', barColor: '#445982'} );
                $('.inlinebar-3').sparkline('html', {type: 'bar', barColor: '#00b19d'} );
                $('.bar').sparkline([ [1,4], [2, 3], [3, 2], [4, 1] ], { type: 'bar' });
                $('.pie').sparkline('html', {type: 'pie',borderWidth: 0, sliceColors: ['#3d4554', '#ee4749','#00b19d']});
                $('.linechart').sparkline();
                $('.pageviews').sparkline('html', {type: 'bar', height: '30px', barColor: '#ff6264'} );
                $('.uniquevisitors').sparkline('html', {type: 'bar', height: '30px', barColor: '#00b19d'} );
                $(".monthly-sales").sparkline([1,2,3,5,6,7,2,3,3,4,3,5,7,2,4,3,5,4,5,6,3,2], {
                type: 'bar',
                barColor: '#485671',
                height: '80px',
                barWidth: 10,
                barSpacing: 2
                });
                // JVector Maps
                var map = $("#map");
                map.vectorMap({
                map: 'europe_merc_en',
                zoomMin: '3',
                backgroundColor: '#383f47',
                focusOn: { x: 0.5, y: 0.8, scale: 3 }
                });
                // Line Charts
                var line_chart_demo = $("#line-chart-demo");
                var line_chart = Morris.Line({
                element: 'line-chart-demo',
                data: [
                { y: '2006', a: 100, b: 90 },
                { y: '2007', a: 75,  b: 65 },
                { y: '2008', a: 50,  b: 40 },
                { y: '2009', a: 75,  b: 65 },
                { y: '2010', a: 50,  b: 40 },
                { y: '2011', a: 75,  b: 65 },
                { y: '2012', a: 100, b: 90 }
                ],
                xkey: 'y',
                ykeys: ['a', 'b'],
                labels: ['October 2013', 'November 2013'],
                redraw: true
                });
                line_chart_demo.parent().attr('style', '');
                // Donut Chart
                var donut_chart_demo = $("#donut-chart-demo");
                donut_chart_demo.parent().show();
                var donut_chart = Morris.Donut({
                element: 'donut-chart-demo',
                data: [
                {label: "Download Sales", value: getRandomInt(10,50)},
                {label: "In-Store Sales", value: getRandomInt(10,50)},
                {label: "Mail-Order Sales", value: getRandomInt(10,50)}
                ],
                colors: ['#707f9b', '#455064', '#242d3c']
                });
                donut_chart_demo.parent().attr('style', '');
                // Area Chart
                var area_chart_demo = $("#area-chart-demo");
                area_chart_demo.parent().show();
                var area_chart = Morris.Area({
                element: 'area-chart-demo',
                data: [
                { y: '2006', a: 100, b: 90 },
                { y: '2007', a: 75,  b: 65 },
                { y: '2008', a: 50,  b: 40 },
                { y: '2009', a: 75,  b: 65 },
                { y: '2010', a: 50,  b: 40 },
                { y: '2011', a: 75,  b: 65 },
                { y: '2012', a: 100, b: 90 }
                ],
                xkey: 'y',
                ykeys: ['a', 'b'],
                labels: ['Series A', 'Series B'],
                lineColors: ['#303641', '#576277']
                });
                area_chart_demo.parent().attr('style', '');
                // Rickshaw
                var seriesData = [ [], [] ];
                var random = new Rickshaw.Fixtures.RandomData(50);
                for (var i = 0; i < 50; i++)
                {
                random.addData(seriesData);
                }
                var graph = new Rickshaw.Graph( {
                element: document.getElementById("rickshaw-chart-demo"),
                height: 193,
                renderer: 'area',
                stroke: false,
                preserve: true,
                series: [{
                color: '#73c8ff',
                data: seriesData[0],
                name: 'Upload'
                }, {
                color: '#e0f2ff',
                data: seriesData[1],
                name: 'Download'
                }
                ]
                } );
                graph.render();
                var hoverDetail = new Rickshaw.Graph.HoverDetail( {
                graph: graph,
                xFormatter: function(x) {
                return new Date(x * 1000).toString();
                }
                } );
                var legend = new Rickshaw.Graph.Legend( {
                graph: graph,
                element: document.getElementById('rickshaw-legend')
                } );
                var highlighter = new Rickshaw.Graph.Behavior.Series.Highlight( {
                graph: graph,
                legend: legend
                } );
                setInterval( function() {
                random.removeData(seriesData);
                random.addData(seriesData);
                graph.update();
                }, 500 );
                });
                function getRandomInt(min, max)
                {
                return Math.floor(Math.random() * (max - min + 1)) + min;
                }
              .row
                .col-sm-3
                  .tile-stats.tile-red
                    .icon
                      i.entypo-users
                    .num(data-start='0', data-end='83', data-postfix='', data-duration='1500', data-delay='0') 0
                    h3 Registered users
                    p so far in our blog, and our website.
                .col-sm-3
                  .tile-stats.tile-green
                    .icon
                      i.entypo-chart-bar
                    .num(data-start='0', data-end='135', data-postfix='', data-duration='1500', data-delay='600') 0
                    h3 Daily Visitors
                    p this is the average value.
                .col-sm-3
                  .tile-stats.tile-aqua
                    .icon
                      i.entypo-mail
                    .num(data-start='0', data-end='23', data-postfix='', data-duration='1500', data-delay='1200') 0
                    h3 New Messages
                    p messages per day.
                .col-sm-3
                  .tile-stats.tile-blue
                    .icon
                      i.entypo-rss
                    .num(data-start='0', data-end='52', data-postfix='', data-duration='1500', data-delay='1800') 0
                    h3 Subscribers
                    p on our site right now.
              br
              .row
                .col-sm-8
                  #charts_env.panel.panel-primary
                    .panel-heading
                      .panel-title Site Stats
                      .panel-options
                        ul.nav.nav-tabs
                          li
                            a(href='#area-chart', data-toggle='tab') Area Chart
                          li.active
                            a(href='#line-chart', data-toggle='tab') Line Charts
                          li
                            a(href='#pie-chart', data-toggle='tab') Pie Chart
                    .panel-body
                      .tab-content
                        #area-chart.tab-pane
                          #area-chart-demo.morrischart(style='height: 300px')
                        #line-chart.tab-pane.active
                          #line-chart-demo.morrischart(style='height: 300px')
                        #pie-chart.tab-pane
                          #donut-chart-demo.morrischart(style='height: 300px;')
                    table.table.table-bordered.table-responsive
                      thead
                        tr
                          th.col-padding-1(width='50%')
                            .pull-left
                              .h4.no-margin Pageviews
                              small 54,127
                            span.pull-right.pageviews 4,3,5,4,5,6,5
                          th.col-padding-1(width='50%')
                            .pull-left
                              .h4.no-margin Unique Visitors
                              small 25,127
                            span.pull-right.uniquevisitors 2,3,5,4,3,4,5
                .col-sm-4
                  .panel.panel-primary
                    .panel-heading
                      .panel-title
                        h4
                          | Real Time Stats
                          br
                          small current server uptime
                      .panel-options
                        a.bg(href='#sample-modal', data-toggle='modal', data-target='#sample-modal-dialog-1')
                          i.entypo-cog
                        a(href='#', data-rel='collapse')
                          i.entypo-down-open
                        a(href='#', data-rel='reload')
                          i.entypo-arrows-ccw
                        a(href='#', data-rel='close')
                          i.entypo-cancel
                    .panel-body.no-padding
                      #rickshaw-chart-demo
                        #rickshaw-legend
              br
              .row
                .col-sm-4
                  .panel.panel-primary
                    table.table.table-bordered.table-responsive
                      thead
                        tr
                          th.padding-bottom-none.text-center
                            br
                            br
                            span.monthly-sales
                      tbody
                        tr
                          td.panel-heading
                            h4 Monthly Sales
                .col-sm-8
                  .panel.panel-primary
                    .panel-heading
                      .panel-title Latest Updated Profiles
                      .panel-options
                        a.bg(href='#sample-modal', data-toggle='modal', data-target='#sample-modal-dialog-1')
                          i.entypo-cog
                        a(href='#', data-rel='collapse')
                          i.entypo-down-open
                        a(href='#', data-rel='reload')
                          i.entypo-arrows-ccw
                        a(href='#', data-rel='close')
                          i.entypo-cancel
                    table.table.table-bordered.table-responsive
                      thead
                        tr
                          th #
                          th Name
                          th Position
                          th Activity
                      tbody
                        tr
                          td 1
                          td Art Ramadani
                          td CEO
                          td.text-center
                            span.inlinebar 4,3,5,4,5,6
                        tr
                          td 2
                          td Filan Fisteku
                          td Member
                          td.text-center
                            span.inlinebar-2 1,3,4,5,3,5
                        tr
                          td 3
                          td Arlind Nushi
                          td Co-founder
                          td.text-center
                            span.inlinebar-3 5,3,2,5,4,5
              br
              script(type='text/javascript').
                // Code used to add Todo Tasks
                jQuery(document).ready(function($)
                {
                var $todo_tasks = $("#todo_tasks");
                $todo_tasks.find('input[type="text"]').on('keydown', function(ev)
                {
                if(ev.keyCode == 13)
                {
                ev.preventDefault();
                if($.trim($(this).val()).length)
                {
                var $todo_entry = $('<li><div class="checkbox checkbox-replace color-white"><input type="checkbox" /><label>'+$(this).val()+'</label></div></li>');
                $(this).val('');
                $todo_entry.appendTo($todo_tasks.find('.todo-list'));
                $todo_entry.hide().slideDown('fast');
                replaceCheckboxes();
                }
                }
                });
                });
              .row
                .col-sm-3
                  #todo_tasks.tile-block
                    .tile-header
                      i.entypo-list
                      a(href='#')
                        | Tasks
                        span To do list, tick one.
                    .tile-content
                      input.form-control(type='text', placeholder='Add Task')
                      ul.todo-list
                        li
                          .checkbox.checkbox-replace.color-white
                            input(type='checkbox')
                            label Website Design
                        li
                          .checkbox.checkbox-replace.color-white
                            input#task-2(type='checkbox', checked='')
                            label Slicing
                        li
                          .checkbox.checkbox-replace.color-white
                            input#task-3(type='checkbox')
                            label WordPress Integration
                        li
                          .checkbox.checkbox-replace.color-white
                            input#task-4(type='checkbox')
                            label SEO Optimize
                        li
                          .checkbox.checkbox-replace.color-white
                            input#task-5(type='checkbox', checked='')
                            label Minify &amp; Compress
                    .tile-footer
                      a(href='#') View all tasks
                .col-sm-9
                  script(type='text/javascript').
                    jQuery(document).ready(function($)
                    {
                    var map = $("#map-2");
                    map.vectorMap({
                    map: 'europe_merc_en',
                    zoomMin: '3',
                    backgroundColor: '#383f47',
                    focusOn: { x: 0.5, y: 0.8, scale: 3 }
                    });
                    });
                  .tile-group
                    .tile-left
                      .tile-entry
                        h3 Map
                        span top visitors location
                      .tile-entry
                        img.pull-right.op(src='assets/images/sample-al.png', alt='')
                        h4 Albania
                        span 25%
                      .tile-entry
                        img.pull-right.op(src='assets/images/sample-it.png', alt='')
                        h4 Italy
                        span 18%
                      .tile-entry
                        img.pull-right.op(src='assets/images/sample-au.png', alt='')
                        h4 Austria
                        span 15%
                    .tile-right
                      #map-2.map
              // Footer
              footer.main
                | &copy; 2014 
                strong Neon
                |  Admin Theme by 
                a(href='http://laborator.co', target='_blank') Laborator
      #chat.fixed(data-current-user='Art Ramadani', data-order-by-status='1', data-max-chat-history='25')
        .chat-inner
          h2.chat-header
            a.chat-close(href='#', data-animate='1')
              i.entypo-cancel
            i.entypo-users
            | &#x9;&#x9;&#x9;Chat
            span.badge.badge-success.is-hidden 0
          #group-1.chat-group
            strong Favorites
            a#sample-user-123(href='#', data-conversation-history='#sample_history')
              span.user-status.is-online
              em Catherine J. Watkins
            a(href='#')
              span.user-status.is-online
              em Nicholas R. Walker
            a(href='#')
              span.user-status.is-busy
              em Susan J. Best
            a(href='#')
              span.user-status.is-offline
              em Brandon S. Young
            a(href='#')
              span.user-status.is-idle
              em Fernando G. Olson
          #group-2.chat-group
            strong Work
            a(href='#')
              span.user-status.is-offline
              em Robert J. Garcia
            a(href='#', data-conversation-history='#sample_history_2')
              span.user-status.is-offline
              em Daniel A. Pena
            a(href='#')
              span.user-status.is-busy
              em Rodrigo E. Lozano
          #group-3.chat-group
            strong Social
            a(href='#')
              span.user-status.is-busy
              em Velma G. Pearson
            a(href='#')
              span.user-status.is-offline
              em Margaret R. Dedmon
            a(href='#')
              span.user-status.is-online
              em Kathleen M. Canales
            a(href='#')
              span.user-status.is-offline
              em Tracy J. Rodriguez
        // conversation template
        .chat-conversation
          .conversation-header
            a.conversation-close(href='#')
              i.entypo-cancel
            span.user-status
            span.display-name
            small
          ul.conversation-body
          .chat-textarea
            textarea.form-control.autogrow(placeholder='Type your message')
      // Chat Histories
      ul#sample_history.chat-history
        li
          span.user Art Ramadani
          p Are you here?
          span.time 09:00
        li.opponent
          span.user Catherine J. Watkins
          p This message is pre-queued.
          span.time 09:25
        li.opponent
          span.user Catherine J. Watkins
          p Whohoo!
          span.time 09:26
        li.opponent.unread
          span.user Catherine J. Watkins
          p Do you like it?
          span.time 09:27
      // Chat Histories
      ul#sample_history_2.chat-history
        li.opponent.unread
          span.user Daniel A. Pena
          p I am going out.
          span.time 08:21
        li.opponent.unread
          span.user Daniel A. Pena
          p Call me when you see this message.
          span.time 08:27
    link(rel='stylesheet', href='assets/js/jvectormap/jquery-jvectormap-1.2.2.css')
    link(rel='stylesheet', href='assets/js/rickshaw/rickshaw.min.css')
    // Bottom Scripts
    script(src='assets/js/gsap/main-gsap.js')
    script(src='assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js')
    script(src='assets/js/bootstrap.js')
    script(src='assets/js/joinable.js')
    script(src='assets/js/resizeable.js')
    script(src='assets/js/neon-api.js')
    script(src='assets/js/jvectormap/jquery-jvectormap-1.2.2.min.js')
    script(src='assets/js/jvectormap/jquery-jvectormap-europe-merc-en.js')
    script(src='assets/js/jquery.sparkline.min.js')
    script(src='assets/js/rickshaw/vendor/d3.v3.js')
    script(src='assets/js/rickshaw/rickshaw.min.js')
    script(src='assets/js/raphael-min.js')
    script(src='assets/js/morris.min.js')
    script(src='assets/js/toastr.js')
    script(src='assets/js/neon-chat.js')
    script(src='assets/js/neon-custom.js')
    script(src='assets/js/neon-demo.js')
